{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
   IMPACTA EMPRESA DE TECNOLOGIA<br />
    Endereço<br>
Avenida Rudge, 315 - Barra Funda <br>
São Paulo / SP
    <br>
    SECRETARIA
    <br>
11 5593-5345<br>
telefone comercial<br>
COMERCIAL<br>
11 3254-8300<br>
telefone financeiro<br>
FINANCEIRO<br>
11 5593-5392<br>

</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:Suporte@example.com">Suporte@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

{% endblock %}
